.areas__wrapper {
  width: 61%;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .areas__wrapper {
    width: 78%;
    padding-bottom: 90px;
  }
}

@media (max-width: $mobile-width) {
  .areas__wrapper {
    width: 90%;
    padding-bottom: 5px;
  }
}

.areas__link {
  @include link();
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.areas__link:hover {
  .areas__button-container {
    display: block;
  }
}

.areas__title {
  @include offset(0, 0);
  @include fonts(55px, 80px);
  width: 358px;
  color: $grey;
  position: relative;
  margin-bottom: 64px;
  font-weight: 600;

  &::after {
    position: absolute;
    content: "";
    background-position: 0 0;
    background-color: $pink;
    width: 228.5px;
    height: 4px;
    left: 0;
    bottom: -35px;
  }
}

@media (max-width: $tablet-width) {
  .areas__title {
    @include fonts(30px, 45px);
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;

    &::after {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .areas__title {
    @include fonts(24px, 36px);
    width: 90%;
  }
}

.areas__text {
  @include offset(0, 0);
  width: 343px;
  margin-bottom: 57px;
  color: rgba($dark, 0.7);
}

@media (max-width: $tablet-width) {
  .areas__text {
    margin: 0 auto;
    width: 343px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: -0.47px;
  }
}

@media (max-width: $mobile-width) {
  .areas__text {
    width: 100%;
    margin-bottom: 20px;
  }
}

.areas__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: $tablet-width) {
  .areas__list {
    margin: 0 auto;
  }
}

.areas__item {
  width: 29.8%;
  min-width: 250px;
  margin-left: 5.1%;
  margin-bottom: 106px;
  box-sizing: border-box;
  height: 425px;
  max-height: 425px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3) {
    margin-bottom: 101px;
  }

  &:first-child {
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .areas__item {
    width: 47%;
    max-height: none;
    margin-bottom: 18px;

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      margin-bottom: 18px;
    }
  }

  .areas__item:nth-child(odd) {
    margin-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .areas__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 35px;

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
    margin-bottom: 35px;
  }
  }
}

.areas__item-greece {
  background-image: url("../img/greece-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/greece-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .areas__item-greece {
    background-image: url("../img/greece-tablet.jpg");
  }
}

@media (max-width: $tablet-width) and (min-resolution: 2dppx) {
  .areas__item-greece {
    background-image: url("../img/greece-tablet@2x.jpg");
  }
}

@media (max-width: $mobile-width) {
  .areas__item-greece {
    background-image: url("../img/greece-mobile.jpg");
  }
}

@media (max-width: $mobile-width) and (min-resolution: 2dppx) {
  .areas__item-greece {
    background-image: url("../img/greece-mobile@2x.jpg");
  }
}

.areas__item-albania {
  background-image: url("../img/albania-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/albania-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .areas__item-albania {
    background-image: url("../img/albania-tablet.jpg");
  }
}

@media (max-width: $tablet-width) and (min-resolution: 2dppx) {
  .areas__item-albania {
    background-image: url("../img/albania-tablet@2x.jpg");
  }
}

@media (max-width: $mobile-width) {
  .areas__item-albania {
    background-image: url("../img/albania-mobile.jpg");
  }
}

@media (max-width: $mobile-width) and (min-resolution: 2dppx) {
  .areas__item-albania {
    background-image: url("../img/albania-mobile@2x.jpg");
  }
}

.areas__item-makedonia {
  background-image: url("../img/makedonia-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/makedonia-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .areas__item-makedonia {
    background-image: url("../img/makedonia-tablet.jpg");
  }
}

@media (max-width: $tablet-width) and (min-resolution: 2dppx) {
  .areas__item-makedonia {
    background-image: url("../img/makedonia-tablet@2x.jpg");
  }
}

@media (max-width: $mobile-width) {
  .areas__item-makedonia {
    background-image: url("../img/makedonia-mobile.jpg");
  }
}

@media (max-width: $mobile-width) and (min-resolution: 2dppx) {
  .areas__item-makedonia {
    background-image: url("../img/makedonia-mobile@2x.jpg");
  }
}

.areas__item-montenegro {
  background-image: url("../img/montenegro-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/montenegro-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .areas__item-montenegro {
    background-image: url("../img/montenegro-tablet.jpg");
  }
}

@media (max-width: $tablet-width) and (min-resolution: 2dppx) {
  .areas__item-montenegro {
    background-image: url("../img/montenegro-tablet@2x.jpg");
  }
}

@media (max-width: $mobile-width) {
  .areas__item-montenegro {
    background-image: url("../img/montenegro-mobile.jpg");
  }
}

@media (max-width: $mobile-width) and (min-resolution: 2dppx) {
  .areas__item-montenegro {
    background-image: url("../img/montenegro-mobile@2x.jpg");
  }
}

.areas__item-croatia {
  background-image: url("../img/croatia-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/croatia-desktop@2x.jpg");
  }
}

@media (max-width: $tablet-width) {
  .areas__item-croatia {
    background-image: url("../img/croatia-tablet.jpg");
  }
}

@media (max-width: $tablet-width) and (min-resolution: 2dppx) {
  .areas__item-croatia {
    background-image: url("../img/croatia-tablet@2x.jpg");
  }
}

@media (max-width: $mobile-width) {
  .areas__item-croatia {
    background-image: url("../img/croatia-mobile.jpg");
  }
}

@media (max-width: $mobile-width) and (min-resolution: 2dppx) {
  .areas__item-croatia {
    background-image: url("../img/croatia-mobile@2x.jpg");
  }
}

.areas__button-container {
  background-color: rgba($dark, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.areas__button {
  @include fonts(14px, 17px);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  border: 1px solid $white;
  min-height: 77px;
  width: 87%;
  margin: 0 auto;
  margin-top: 177px;
  padding-top: 25px;
}

.areas__country {
  @include fonts(24px, 29px);
  @include offset(0, 0);
  font-weight: 500;
  position: absolute;
  color: $grey;
  background-color: $white;
  text-align: center;
  min-width: 61%;
  padding: 18px 10px 17px 10px;
  bottom: -8px;
  left: 19%;
}

@media (max-width: $tablet-width) {
  .areas__country {
    min-width: 75%;
    padding: 18px 10px 17px 10px;
    bottom: 0;
    left: 14%;
  }
}
