.button {
  @include link();
  @include fonts(12px, 14.63px);
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $pink;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  letter-spacing: 2px;

  &:hover,
  &:active {
    background-color: $orange;
  }
}

@media (max-width: $tablet-width) {
  .button {
    @include fonts(10px, 12px);
  }
}
