.buy-tour {
  width: 62%;
  margin: 0 auto;
  padding-bottom: 240px;
}

@media (max-width: $tablet-width) {
  .buy-tour {
    width: 100%;
    padding-bottom: 112px;
  }
}

@media (max-width: $mobile-width) {
  .buy-tour {
    padding-bottom: 45px;
  }
}

.buy-tour__list {
  @include offset(0, 0);
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  width: 77%;
  border-bottom: 1px solid rgba($dark, 0.3);
}

@media (max-width: $tablet-width) {
  .buy-tour__list {
    padding-left: 37px;
    // flex-wrap: nowrap;
    // width: 950px;
  }
}

@media (max-width: $mobile-width) {
  .buy-tour__list {
    margin-bottom: 24px;
  }
}
