.contacts {
  width: 33.2%;
  // padding-right: 33.2px;
  // padding-left: 90px;
  padding-left: 7.6%;
  box-sizing: border-box;
  border-right: 1px solid $light-grey;
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 46%;
    padding-left: 8%;
    box-sizing: border-box;
    border-right: none;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    padding: 0;
    padding-top: 30px;
    width: 100%;
    border-top: 1px solid $light-grey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
}

.contacts__mail {
  padding-bottom: 19px;
}

@media (max-width: $tablet-width) {
  .contacts__mail {
    padding-bottom: 13px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__mail {
    padding-bottom: 11px;
  }
}

.contacts__phone {
  padding-bottom: 25px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $mobile-width) {
  .contacts__phone {
    padding-bottom: 19px;
  }
}

.contacts__phone-link {
  @include fonts(16px, 32px);
}

.contacts__link {
  @include link();
  color: $pink;
  text-decoration: underline;
  max-width: 100%;
  word-wrap: break-word;
}

.contacts__mail-link {
  @include fonts(14px, 17px);
}

.contacts__svg-mail {
  margin-right: 15px;
}

@media (max-width: $tablet-width) {
  .contacts__title {
    margin-bottom: 17px;
  }
}
