.corporate-trip {
  max-width: 31%;
  padding-left: 43px;
  box-sizing: border-box;
}

@media (max-width: $tablet-width) {
  .corporate-trip {
    text-align: center;
    max-width: 100%;
    padding: 30px 50px 50px 50px;
    box-sizing: border-box;
    border-top: 1px solid $light-grey;
  }
}

@media (max-width: $mobile-width) {
  .corporate-trip {
    padding: 0;
    padding-top: 30px;
    box-sizing: border-box;
  }
}

.corporate-trip__title {
  margin-bottom: 22px;
}

@media (max-width: $tablet-width) {
  .corporate-trip__title {
    text-align: center;
  }
}

.corporate-trip__text {
  @include offset(0, 0);
  @include fonts(14px, 24px);
  color: rgba($dark, 0.5);
  // padding: 0 16px 25px 16px;
}
