.countries {
  width: 61%;
  margin: 0 auto;
  padding-bottom: 224px;
}

@media (max-width: $tablet-width) {
  .countries {
    width: 100%;
    padding-bottom: 112px;
  }
}

@media (max-width: $mobile-width) {
  .countries {
    padding-bottom: 45px;
  }
}

.countries__list {
  @include offset(0, 0);
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  width: 78.3%;
  padding-bottom: 0;
  border-bottom: 1px solid rgba($dark, 0.3);
}

@media (max-width: $tablet-width) {
  .countries__list {
    padding-left: 37px;
    flex-wrap: nowrap;
    max-width: 950px;
  }
}

@media (max-width: $mobile-width) {
  .countries__list {
    margin-bottom: 24px;
  }
}

.countries__elements-list {
  @include list-reset();
}

.countries__item {
  display: none;

  &--active {
    display: block;
  }
}

.countries__container {
  display: flex;
  position: relative;
}

@media (max-width: $tablet-width) {
  .countries__container {
    flex-wrap: wrap;
    flex-direction: column;
    // align-items: center;
  }
}

.countries__description-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 6.7%;
  width: 33.5%;
}

@media (max-width: $tablet-width) {
  .countries__description-container {
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: $mobile-width) {
  .countries__description-container {
    width: 86%;
  }
}

.countries__title {
  @include offset(0, 0);
  @include fonts(55px, 90px);
  font-weight: 600;
  margin-bottom: 50px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-position: 0 0;
    background-color: $pink;
    width: 175px;
    height: 2px;
    left: 0;
    bottom: -18px;
  }
}

@media (max-width: $tablet-width) {
  .countries__title {
    @include fonts(30px, 45px);
    margin-bottom: 20px;
  }

  .countries__title::after {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .countries__title {
    @include fonts(24px, 36px);
  }
}

.countries__text {
  @include offset(0, 0);
  @include fonts(16px, 28px);
  color: rgba($dark, 0.7);
  font-weight: 400;
  margin-bottom: 50px;
}

@media (max-width: $tablet-width) {
  .countries__text {
    text-align: center;
    margin-bottom: 20px;
  }
}

.countries__button {
  width: 250px;
  padding: 30px 20px;
  border: none;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: $tablet-width) {
  .countries__button {
    width: 250px;
    padding: 19px 20px;
    letter-spacing: 2px;
    margin-bottom: 49px;
  }
}

@media (max-width: $mobile-width) {
  .countries__button {
    @include fonts(10px, 12px);
    width: 100%;
    margin-bottom: 49px;
  }
}
