.footer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px 75px 20px;
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    padding: 0 14px 50px 14px;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding-bottom: 25px;
  }
}

.footer__title {
  @include offset(0, 0);
  @include fonts(18px, 32px);
  @include Montserrat(600);
  margin-bottom: 20px;
  text-align: left;
}

@media (max-width: $mobile-width) {
  .footer__title {
    text-align: center;
  }
}

.footer__svg {
  color: $light-grey;
}
