.footer__wrapper {
  width: 61%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 75px;
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    width: 100%;
    padding: 0 14px 50px 14px;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding-bottom: 25px;
  }
}

.footer__title {
  @include offset(0, 0);
  @include fonts(18px, 32px);
  margin-bottom: 17px;
  font-weight: 600;
  text-align: left;
}

@media (max-width: $mobile-width) {
  .footer__title {
    text-align: center;
  }
}

.footer__svg {
  color: $light-grey;
}
