.modal-tour {
  background-image: url("../img/popup.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 338px 444px;
  padding-top: 72px;
  padding-left: 397px;
  padding-right: 61px;
  display: none;
}

@media (max-width: $mobile-width) {
  .modal-tour {
    background-image: none;
    background-color: $white;
    padding: 100px 0 0 0;
    margin: auto;
  }
}

.modal-tour__title {
  @include offset(0, 0);
  @include fonts(25px, 42px);
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: $mobile-width) {
  .modal-tour__form {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 185px;
    background-color: $white;
  }
}

.modal-tour__input {
  width: 270px;
  margin-bottom: 20px;
  outline: 1px solid $light-grey;
}

@media (max-width: $mobile-width) {
  .modal-tour__input {
    width:100%;
  }
}

.modal-tour__button {
  letter-spacing: 2px;
}

@media (max-width: $mobile-width) {
  .modal-tour__button {
    width:100%;
  }
}

.modal-tour__input::placeholder {
  @include fonts(14px, 17px);
  font-weight: 400;
}

.modal-tour__phone-popup::placeholder {
  padding-left: 26px;
}

.modal-tour__mail::placeholder {
  padding-left: 15px;
}

// .modal-active {
//   display: block;
// }
