.phone {
  width: 226px;
  display: flex;
}

@media (max-width: $tablet-width) {
  .header__phone {
    display: none;
  }
}

.phone__link {
  @include link();
  @include fonts(18px, 32px);
  display: block;
  color: $dark;
  box-sizing: border-box;
  text-align: right;
}

.phone__svg {
  color: $dark;
  fill: none;
  margin-right: 11px;
}
