.header__phone {
  position: relative;
  width: 226px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 170px;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: $tablet-width) {
  .header__phone {
    display: none;
  }
}

.phone__link {
  @include link();
  @include fonts(18px, 32px);
  display: block;
  color: $dark;
  padding-left: 30px;
  box-sizing: border-box;
  text-align: right;
}
