.review {
  position: relative;
  flex-grow: 1;
}

@media (max-width: $mobile-width) {
  .review {
    width: auto;
  }
}

.review__title {
  @include fonts(30px, 36px);
  @include offset(0, 0);
  margin-bottom: 35px;
  position: relative;
  font-weight: 500;
  color: $grey;

  &::after {
    position: absolute;
    content: "";
    background-position: 0 0;
    background-color: $pink;
    width: 68px;
    height: 1px;
    left: 0;
    bottom: -10px;
  }
}

@media (max-width: $tablet-width) {
  .review__title {
    margin-bottom: 32px;

    &::after {
      bottom: -10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .review__title {
    @include fonts(20px, 24px);
    margin-right: auto;
    margin-left: auto;
    letter-spacing: -0.69px;
    text-align: center;
    width: min-content;

    &::after {
      bottom: -10px;
    }
  }
}

.review__blockquote {
  @include offset(0, 0);
}

.review__opinion {
  @include offset(0, 0);
  @include fonts(14px, 28px);
  color: rgba($grey, 0.7);
  margin-bottom: 31px;
}

@media (max-width: $tablet-width) {
  .review__opinion {
    letter-spacing: -0.41px;
  }
}

@media (max-width: $mobile-width) {
  .review__opinion {
    text-align: center;
    margin-bottom: 20px;
  }
}

.review__img-author {
  display: block;
  margin: 0;
  margin-right: 16px;
}

@media (max-width: $mobile-width) {
  .review__img-author {
    margin-bottom: 10px;
  }
}

.review__author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: $mobile-width) {
  .review__author {
    justify-content: center;
  }
}

.review__author-name {
  @include offset(0, 0);
  @include fonts(16px, 19px);
  font-weight: 500;
  font-style: normal;
}

@media (max-width: $mobile-width) {
  .review__author-name {
    text-align: center;
    width: 100%;
  }
}

.review__wrapper {
  background-color: $white;
  width: 382px;
  padding: 30px 36px;
  box-sizing: border-box;
  position: absolute;
  top: 104px;
  left: 44.7%;
}

@media (max-width: $tablet-width) {
  .review__wrapper {
    top: 40px;
    left: 50%;
    padding: 20px 30px;
    transform: translate(-50%, 30px);
  }
}

@media (max-width: $mobile-width) {
  .review__wrapper {
    width: 268px;
    padding: 30px 20px 34px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 30px);
  }
}

.review__picture {
  width: 63%;
  object-fit: cover;
}

@media (max-width: $tablet-width) {
  .review__picture {
    object-fit: cover;
    width: 100%;
    height: 415px;
  }
}

@media (max-width: $mobile-width) {
  .review__picture {
    object-fit: cover;
    width: 100%;
    height: 415px;
  }
}

@media (max-width: $mobile-width) {
  .review__picture-wrapper {
    width: 100%;
  }
}
