.slider {
  padding-bottom: 84px;
}

@media (max-width: $tablet-width) {
  .slider {
    padding-bottom: 32px;
  }
}

@media (max-width: $mobile-width) {
  .slider {
    padding-bottom: 21px;
  }
}

.slider__item {
  padding-right: 11%;
  padding-bottom: 15px;

  &:last-child {
    padding-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .slider__item {
    justify-content: center;
    padding-right: 0;
    margin-right: 15%;
  }
}

@media (max-width: $mobile-width) {
  .slider__item {
    margin-right: 35%;
  }
}

.slider__link {
  @include link();
  @include fonts(20px, 24.38px);
  color: rgba($grey, 0.3);
  padding-bottom: 15px;
  font-weight: 500;

  &--active {
    color: $pink;
  }
}
