.slider__item {
  padding-right: 99px;
  padding-bottom: 15px;

  &:last-child {
    padding-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .slider__item {
    justify-content: center;
    padding-right: 0;
    margin-right: 11%;
  }
}

.slider__link {
  @include link();
  @include Montserrat(500);
  @include fonts(20px, 24.38px);
  color: rgba($dark, 0.3);
  padding-bottom: 15px;

  &--active {
    color: $pink;
  }
}
