/*Colors*/
$pink: #fe7865;
$orange: #f17d4b;
$dark: #141517;
$almost-black: #48494d;
$grey: #2c2e3f;
$almost-white: #e5e5e5;
$light: #fbf8f8;
$white: #ffffff;
$light-grey: #d7d9df;
$blue: #4169e1;

/*Viewports*/
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$only-mobile-width: 320px;
